.product-frame {
    margin-bottom: 5px !important;
    border-radius: 20px 20px 0 0 !important;
    background-size: cover;
    height: 150px;
}

.product-card {
    border-radius: 20px 20px 0 0 !important;
    margin-bottom: 12px !important;
}

.product-content {
    display: block;
}

.product-title {
    font-weight: bold;
    font-size: 12pt;
}

.product-price {
    font-size: 10pt;
}

.product-qty {
    font-weight: bold;
    font-size: 10pt;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

/* Overriding CSS Ant Design By : Me */
.product-card .ant-card-body {
    padding: 10px 0 10px 20px !important;
}

.product-cart {
    position: absolute !important;
    bottom: 55px;
    right: 20px;
}
