.trigger {
    margin-left: 35px
}

.header-button {
    float: right;
    right: 30px;
    border: 0 !important;
    height: 100% !important;
    width: 50px;
    padding: 0px 20px !important;
}

.qty {
    display: inline-block;
}

.qty-cart {
    color: #fff;
    font-size: 8pt;
    padding: 8px;
}

.qty-div {
    background: #1890ff;
    width: auto;
    height: auto;
    border-radius: 100px;
    bottom: 4px;
    position: relative;
}

.qty-icon {
    font-size: 20px;
}